name: Generar JSON de horarios

on:
  schedule:
    - cron: '*/1 * * * *'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20'

      - name: Instalar dependencias
        run: npm install

      - name: Ejecutar generar-json.js
        run: node scripts/generar-json.js
        env:
          API_KEY: ${{ secrets.API_KEY }}
          TOKEN: ${{ secrets.TOKEN }}
          OWNER: ${{ secrets.OWNER }}
          REPO: ${{ secrets.REPO }}
          PATH: horarios.json
          BRANCH: main
